/* Static font definitions for Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Variable font definition for Playfair Display */
@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900; /* Define range for variable font weights */
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900; /* Define range for variable font weights */
  font-style: italic;
}

/* Static font definitions for Playfair Display (fallbacks) */
@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf')
    format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-BlackItalic.ttf')
    format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-ExtraBoldItalic.ttf')
    format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-MediumItalic.ttf')
    format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf')
    format('truetype');
  font-weight: 400; /* Default weight for italic */
  font-style: italic;
}

:root {
  /* --accent-color: hsl(197, 75%, 35%); */
  --accent-color: hsl(45, 100%, 50%);
  --secondary-font-color: #555;
  --card-box-shadow: 2px 2px 3px 0 #0002;
}

html {
  box-sizing: border-box;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font: inherit;
  color: inherit;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-weight: 800;
  font-weight: 700;
  font-weight: 600;
  font-weight: 500;
}

h1 {
  font-size: 4.25rem;
  font-weight: normal;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

img {
  /* Remove extra space under the inline img (Descender) */
  vertical-align: middle;
}

body {
  margin: 0;
  background-color: #fff;
  max-width: 720px;
  margin: 0 auto;
}

body > header,
body > main {
  padding: 1rem;
}

body > main {
  margin: 3rem auto;
}

body > header {
  position: relative;
}

body > header::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc((100vw - 100%) / -2);
  right: calc((100vw - 100%) / -2);
  height: 100%;
  z-index: -1;
  background-color: var(--accent-color);
  clip-path: polygon(0 0, 100% 0, 100% 25%, 0 50%);
}

.personal-info {
  background-color: #fff;
}

.personal-info > header {
  position: relative;
}

.personal-info .name {
  text-align: right;
  color: #fff;
  background: linear-gradient(0deg, #000, transparent);
  text-shadow: 1.5px 1.5px 2px #0005;
  padding: 2rem 1rem 0;
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 0;
}

.personal-info .personal-img {
  width: 100%;
  height: auto;
  box-shadow: var(--card-box-shadow);
}

.about-head {
  text-align: center;
  margin-bottom: 0;
}

.about-content {
  margin: 1rem 0;
  font-size: 1.35rem;
  line-height: 1.5;
  color: var(--secondary-font-color);
  font-weight: 300;
}

.about-content a {
  color: inherit;
  font-style: italic;
  text-decoration: underline;
}

.personal-accounts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.personal-accounts a:not(:last-of-type) {
  margin-right: 1rem;
}

.my-work-head {
  text-align: center;
  margin-bottom: 1.5rem;
}

.project-card {
  box-shadow: var(--card-box-shadow);
  margin-bottom: 4rem;
}

.project-img {
  width: 100%;
  height: auto;
}

.project-info {
  padding: 0.5rem 1.25rem;
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;
}

.project-name {
  columns: 1 / 2;
  margin: 0;
  font-weight: bold;
}

.project-links {
  columns: 2 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-description {
  columns: 1 / 3;
  color: var(--secondary-font-color);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.35;
}

body > footer {
  height: 100vh;
  min-height: 480px;
}

body > footer {
  position: relative;
  max-height: 100vh;
  display: grid;
  align-items: end;
}

body > footer::before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: calc((100vw - 100%) / -2);
  right: calc((100vw - 100%) / -2);
  z-index: -1;
  background-color: var(--accent-color);
}

body > footer > article {
  padding: 1rem 1rem 2rem;
}

body > footer > article > header > h2 {
  text-align: center;
  margin: 0;
}

body > footer > article > main > p {
  font-size: 1rem;
  margin: 2rem 0;
}

body > footer > article > main > p:first-of-type {
  font-size: 1.25rem;
  font-weight: 300;
}

body > footer > article > main > p > img {
  margin-right: 0.25rem;
}

body > footer > picture > img {
  width: 100%;
  height: auto;
}

/* Media queries for XS & XXS screens */

@media (width < 320px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .project-info {
    grid-template-columns: 1fr;
  }

  .project-name,
  .project-links,
  .project-description {
    columns: 1 / 2;
  }

  .project-name {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .project-links {
    display: block;
  }

  body > footer > article > main > p {
    font-size: 0.85rem;
  }

  body > footer > article > main > p:first-of-type {
    font-size: 1rem;
  }
}

@media (width < 200px) {
  html {
    font-size: 50%;
  }

  img:not(a > img) {
    width: 100%;
  }
}

/* Media query for landscape screens */
@media (orientation: landscape) {
  body > header {
    max-height: 720px;
  }
}

/* Media query for screens wider than mobile screens */
@media (width > 600px) {
  html {
    overflow-x: hidden;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: normal;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  body > header,
  body > main {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  body > header::before {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 90%);
  }

  .personal-info {
    box-shadow: var(--card-box-shadow);
  }

  .about-head {
    margin: 0;
  }

  body > main {
    padding-bottom: 6rem;
    margin-bottom: 10rem;
  }

  .my-work-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  .my-work-head {
    text-align: left;
  }

  body > footer {
    padding: 3rem 3rem 5rem;
    display: grid;
    grid-template-columns: 1fr min(50vw, 50vh, 50%);
    align-content: center;
    align-items: center;
    gap: 1rem;
  }

  body > footer > article {
    padding: 0;
  }

  body > footer > article > header > h2 {
    text-align: left;
  }

  body > footer > article .personal-accounts {
    margin-bottom: 0.5rem;
    justify-content: flex-start;
  }

  body > footer > picture > img {
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: 40% 0;
  }
}

/* Media query for tablet screens */
@media (600px < width < 1200px) {
  .personal-info {
    padding: 2rem;
    margin-top: 7.5rem;
  }

  .personal-info .name {
    text-align: initial;
    left: 4rem;
    bottom: calc(100% + 3rem);
    z-index: 1;
    padding: 0;
    background: none;
    text-wrap: nowrap;
    color: #000;
  }

  .personal-info .personal-img {
    margin: 1rem;
    margin-bottom: 0;
    width: 80px;
    float: left;
    transform-origin: right bottom;
    transform: scale(2);
    box-shadow: 1px 1px 2px 0 #0003;
  }

  .about-head {
    position: relative;
    top: 1.5rem;
  }

  .about-content {
    padding-top: 1.5rem;
  }

  .personal-info .personal-accounts {
    width: 100%;
    justify-content: flex-end;
  }

  body > main {
    clear: both;
  }
}

/* Media query for wide screens (monitor) */
@media (width >= 1200px) {
  body {
    max-width: 1024px;
  }

  body > header::before {
    clip-path: polygon(0 0, 100% 0, 100% 25%, 0 75%);
  }

  .personal-info {
    padding: 0;
    padding-right: 2rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 2rem;
  }

  .personal-info header {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 80%;
    transform-origin: left center;
    transform: scale(1.25);
  }

  .personal-info main {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    align-self: end;
    margin-top: 3rem;
    margin-right: 2rem;
  }

  .personal-info footer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: end;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }

  .about-head {
    text-align: left;
  }
}
